<!-- Card Group - Work -->
<div class="card-group border-primary border-left-2">

  {% for post in site.posts %}
      <div class="col-md-4">
      <div class="card mb-3">
          <img class="card-img-top" src="{% if post.preview-img %}{{ post.preview-img | prepend: site.baseurl }}{% else %}{{ site.url}}/assets/images/default.jpg{% endif %}" alt="">
        <div class="card-body bg-primary text-light">
          <h4 class="card-title"><a class="post-link text-light" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
          <p class="card-text">{{ post.small-discription }}</p>
          <p class="card-text"><small class="text-muted">Mobile</small></p>
          <a href="{{ post.url | relative_url }}" class="btn btn-secondary">Learn More</a>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
<!-- End Card Group - Work -->
