---
layout: default
menuClass: navbar-dark
---
<section id="cover" class="parallax">
  <div id="cover-caption">
    <div class="container">
      <div class="col-sm-12 col-sm-offset-1">
        <h1 class="display-1">Hi, my name is Art.</h1>
        <p class="lead">I’m a Web Developer currently looking for new opportunites. Here is my <a class="text-light" href="#">resume <i class="ion-document-text"></i>.</a></p>

        <a href="#about-me" class="btn btn-secondary-outline btn-sm" role="button"><span class="text-light ion-chevron-down"></span></a>
      </div>
    </div>
  </div>
</section>

<section id="about-me">
    <div class="container mb-5 p-5">
      <div class="row">
        <div class="display-b col-xs-8 col-sm-8 col-mb-3 col-lg-3">
          <img class="img-fluid rounded-circle" src="https://avatars1.githubusercontent.com/u/120343?s=460&v=4" alt="">
        </div>
          <h2 class="display-4 mt-5 mb-2">About Me</h2>
      </div>

      <h4 class="mt-3">What I've been up to...</h4>
      <p class="lead mt-1 mb-1">
        Currently working on more Front-End roles, I've spent a couple of years working for mobile advertising companies, as a Rich Media Developer. Prior to that, I worked at a start-up for a couple of years, which allowed me to build a foundation in the type of work I am passionate about doing. I enjoy fast paced, long-term projects, that engage and benefit consumers. On my free time I like go eat out with my wife, hang out with my dog, binge watch Netflix, and walk the streets of San Francisco. You can also find me gaming online. </p>
    </div>
</section>

<section id="portflio">
  <div class="container mt-5">
    <!-- <h3>Portfolio</h3> -->
    <div class="row">
        <!-- Cards -->
              {% include card.html %}
        <!-- End Cards -->
  </div>
</section>
